<!DOCTYPE html>
<html>
<head>
  <title>Case Study</title>
  <%= stylesheet_link_tag    "case_study/application", :media => "all" %>
  <%= javascript_include_tag "case_study/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
